<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Welcome to the application website.</h1>
<p>To apply, please follow these steps:</p>
<ol>
    <li>Register for an account if you don't have one.</li>
    <li>Login to your account.</li>
    <li>Fill out the application form available in your dashboard.</li>
    <li>Submit the application for approval.</li>
</ol>
<p>Your application will be reviewed, and approval or disapproval will be provided within 2 to 5 days.</p>
{% endblock %}